*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:live;
  src: url("../fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf");
}

@font-face {
  font-family: logo;
  src: url("../fonts/yonder-blue/yonderblue.otf");
}

ul{
  margin: 60px;
  list-style-type: none;

}

li{
  display: inline-block;
  margin-left: 100px;
}

.active{
  color:aquamarine;
  font-weight: bold;
}
.header{
  width: 300px;
}
.container{
  width: 80%;
  background: silver;
  margin: 0 auto;
}

